<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autodarts Kontrollfläche</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">

    <script>
      var host_url = "{{ address }}";
    </script>

    <script src="{{ url_for('static', filename='src/games.js') }}" defer></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="console-container">
        <label for="inputField">Konsole:</label>
        <input type="text" id="inputField" name="inputField" />
        <button onclick="sendCommand()">#</button>
      </div>

      <button onclick="startGame()" class="grid-button">Start Game</button>
      <button onclick="nextGame()" class="grid-button">Next Game</button>
    </div>

    <div class="grid-container" id="button-container"></div>
  </body>
</html>
